# This rule is not used by the project ofen itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the ofen.cybozu.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: ofen
    app.kubernetes.io/managed-by: kustomize
  name: imageprefetch-editor-role
rules:
- apiGroups:
  - ofen.cybozu.io
  resources:
  - imageprefetches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ofen.cybozu.io
  resources:
  - imageprefetches/status
  verbs:
  - get
