# This rule is not used by the project ofen itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to ofen.cybozu.io resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: ofen
    app.kubernetes.io/managed-by: kustomize
  name: nodeimageset-viewer-role
rules:
- apiGroups:
  - ofen.cybozu.io
  resources:
  - nodeimagesets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ofen.cybozu.io
  resources:
  - nodeimagesets/status
  verbs:
  - get
