---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: nodeimagesets.ofen.cybozu.io
spec:
  group: ofen.cybozu.io
  names:
    kind: NodeImageSet
    listKind: NodeImageSetList
    plural: nodeimagesets
    singular: nodeimageset
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: NodeImageSet is the Schema for the nodeimagesets API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NodeImageSetSpec defines the desired state of NodeImageSet.
            properties:
              foo:
                description: Foo is an example field of NodeImageSet. Edit nodeimageset_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: NodeImageSetStatus defines the observed state of NodeImageSet.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
