name: CI
on:
  pull_request:
  push:
    branches:
    - 'main'
jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - run: make lint
    - run: make build
  test:
    name: Small tests
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - run: make test
    - run: make check-generate
  e2e:
    name: End-to-end tests
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - run: make setup
      working-directory: test/e2e
    - run: make start
      working-directory: test/e2e
    - run: make test
      working-directory: test/e2e
